

<div class="side-bar">

    <div class="side-encabezado">
        <div class="encabezado-contenido">                
            <i class="pi pi-globe"></i>
            <h4>Universales</h4>
        </div>
        <i class="pi pi-bars  activar"></i>
    
    </div>

    <hr>

    <div class="side-lista">

        <div class="side-item">
            <a href="cliente">
                <i class="pi pi-users"></i>
                <span class="enlace">Cliente</span>
            </a>
            <span class="tooltip">Cliente</span>
        </div>

        <div class="side-item">
            <a href="seguro">
                <i class="pi pi-check"></i>
                <span class="enlace">Seguro</span>
            </a>
            <span class="tooltip">Seguro</span>
        </div>

        <div class="side-item">
            <a href="compania">
                <i class="pi pi-check"></i>
                <span class="enlace">Compania</span>
            </a>
            <span class="tooltip">Compania</span>
        </div>

        <div class="side-item">
            <a href="siniestro">
                <i class="pi pi-check"></i>
                <span class="enlace">Siniestro</span>
            </a>
            <span class="tooltip">Siniestro</span>
        </div>


        <div class="side-item">
            <a href="perito">
                <i class="pi pi-check"></i>
                <span class="enlace">Perito</span>
            </a>
            <span class="tooltip">Perito</span>
        </div>

    </div>


</div>