<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
  <div class="container-fluid">
    <h2 class="titulo"><a class="nav-link" style="color: white;" href="/home">Universales</a></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="/cliente">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color: white;" href="/seguro">Seguro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container primario">
    <br>
    <router-outlet></router-outlet>  

</div>