

<br>
<div class="container text-center mosaicos">
  
    <div class="card">
        <div class="card-header bg-warning">
          Clientes
        </div>
        <div class="card-body card1">
          <h5 class="card-title">POST - GET </h5>
          <p class="card-text">Registro de nuevos clientes, almacenamiento y visualización</p>

        </div>
        <div class="card-footer">
            <a href="/cliente" class="btn btn-warning">Navegar</a>
        </div>
    </div>

    <div class="card ">
        <div class="card-header bg-success">
          Seguros
        </div>
        <div class="card-body card2">
          <h5 class="card-title">POST - GET </h5>
          <p class="card-text">Registro de polizas, almacenamiento y visualización</p>
        </div>
        
        <div class="card-footer">
            <a href="/seguro" class="btn btn-success">Navegar</a>
        </div>
    </div>

</div>

