/* INPUTS FORMS  */ 

.input-group{
    margin-top: 20px;
}

.input-group input{
    /* background-color: #121212; */
    /* color: white; */
}

.input-group input::placeholder, .input-group .p-dropdown-label{
    /* color: white !important; */
}

.input-group input:focus{
    /* color: white;
    background-color: #121212; */
}


/* BOTON DE GUARDAR */
.btGuardarCliente {
    margin-top: 10px;
}

.btGuardarCliente:hover ~ .textGuardarCliente{
    color: chartreuse;
}










.p-inputtext{
    padding: 8px !important;
}

.p-inputtext-sm {
    padding: 8px !important;
}



/* CALENADARIO */

.p-datepicker-header {
    height: 35px !important;
}

.p-datepicker-calendar td {
    padding: 0 !important;
    width: 35px !important;;
    height: 35px !important;
}


