/* .sub{
    width: 50%;
    font-size: 1px;
} */

.row{
    margin-top: 20px;
}

.load{
    position: fixed;
    top: 0;
    left:0;
    color: white;
    background: rgb(218, 214, 214);
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0.8;
}

.load .spinner-border{
    position: absolute;
    top: 50%;
    left: 50%;
}

.input-group-text{
    width: 30%;
}

.btGuardarCliente:hover ~ .textGuardarCliente{
    color: chartreuse;
}


